@font-face { font-family: 'AlphaSmart 3000'; src: url('AlphaSmart3000.ttf') }

body {
  background-color: #A8DBD5;
  margin: 0;
  font-family: 'AlphaSmart 3000';
  font-size: 22px;
}
.floor {
  background-color: #86614C;
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
}

.ombudsman {
  position: relative;
  background-image:url('viking.gif');
  top: -200px;
  left: 60%;
  width: 346px;
  height: 346px;
}

.speechbubble {
  width: 466px;
  padding: 40px;
  margin: 0 auto;
  margin-top: 200px;
  background: white;
}

.speechtail {
  content: url('speechtail.svg');
  width: 113px;
  height: 73px;
  position: relative;
  margin: 0 auto;
  margin-top: 400px;
}

.button {
  border: 0;
  outline: 0;
  position: absolute;
  padding: 10px;
  left: 50%;
  bottom: 240px;
  font-family: 'AlphaSmart 3000';
  transform: translateX(-50%);
  font-size: 20px;
  background-color: #EAD477;
  border: 4px solid #fb5800;
  box-shadow: -8px 8px 0px 0px #000;
  cursor: pointer;
}

.button:hover,
.button:active,
.button:focus {
  box-shadow: none;
  transform: translate(-40px, 8px);
}