@font-face { font-family: 'AlphaSmart 3000'; src: url('AlphaSmart3000.ttf') }

body {
  background-image: linear-gradient(-180deg, #56AFA5 0%, #A8DBD5 100%);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
  font-family: 'AlphaSmart 3000';
  /* font-size: 22px; */
  /* TODO: Maybe look at this dirty hack */
  overflow: hidden;
}
.floor {
  background-color: #86614C;
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
}

.ombudsman {
  position: relative;
  background-image:url('viking.gif');
  top: -200px;
  left: 60%;
  width: 346px;
  height: 346px;
}

.speechbubble {
  width: 466px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 280px;
  background: white;
  position: relative;
  font-size: 20px;
}

.speechtail {
  content: url('speechtail.svg');
  width: 113px;
  height: 73px;
  position: absolute;
  margin: 0 auto;
  right: 60px;
}

.button {
  border: 0;
  outline: 0;
  position: absolute;
  padding: 10px;
  left: 50%;
  bottom: -80px;
  width: 100px;
  text-align: center;
  font-family: 'AlphaSmart 3000';
  transform: translateX(-50%);
  font-size: 20px;
  background-color: #EAD477;
  border: 4px solid #fb5800;
  box-shadow: -8px 8px 0px 0px #000;
  cursor: pointer;
}

.button:hover,
.button:active,
.button:focus {
  box-shadow: none;
  transform: translate(-60%, 8px);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
}

.overlay.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.overlay.is-shown {
  animation-play-state: running;
  animation: 2s ease-in fadeIn;
}

.logo {
  /* height: 300px; */
  max-width: 350px;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.game-section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.game-section--world-map {
  background-image: url('./worldmap.jpg');
  background-size: 100%;
  background-position: center center;
}

/* IE 10 / Chrome */
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }

.clouds-container {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
}

.cloud {
  content: url('cloud.svg');
  height: 120px;
	position: relative;
	width: 350px;
}

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;

	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;

	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;

	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;

	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}
